<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            <form [formGroup]="resetPasswordForm" class="p-4 p-md-5 border rounded-3 bg-light">
                <a>Resetujte vašu lozinku.</a>
                <hr class="my-4">
                <div class="form-floating mb-2">
                    <input formControlName="newPassword" type="password" class="form-control" id="floatingInput" placeholder="Pass">
                    <label for="floatingInput">Nova šifra</label>
                    <div *ngIf="submitted && this.resetPasswordForm.get('newPassword')?.errors?.required" class="validation-error small alert alert-danger">
                        Unesite novu šifru
                    </div>
                </div>
                <div class="form-floating">
                    <input formControlName="confirmPassword" type="password" class="form-control" id="floatingInput" placeholder="Pass">
                    <label for="floatingInput">Potvrdite šifru</label>
                    <div *ngIf="submitted && this.resetPasswordForm.get('confirmPassword')?.errors?.required" class="validation-error small alert alert-danger">
                        Ponovo unesite šifru
                    </div>
                    <div *ngIf="submitted && this.resetPasswordForm.get('newPassword')?.value != this.resetPasswordForm.get('confirmPassword')?.value" class="validation-error small alert alert-danger">
                        Šifre se razlikuju
                    </div>
                </div>
                <hr class="my-4">
                <button (click)="onSubmit()" class="w-100 btn btn-lg btn-primary" type="submit">Resetuj</button>
            </form>
        </div>
    </div>
</div>