<div class="p-5">
	<div class="row">
		<div class="col-lg-3">
			<form [formGroup]="LBPForm" class="p-3 border rounded-3 bg-light">
				<div class="mb-1">
					<input formControlName="LBP" class="form-control" type="text" placeholder="LBP">
				</div>
				<hr class="my-4">
				<button (click)="search()" class="btn btn-md btn-primary w-100" type="submit">Pretraži</button>
			</form>
		</div>
		<div class="col-lg-9 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID lab pregleda </th>
						<th scope="col">PBO odeljenja</th>
						<!--<th scope="col">LBZ (tehničar koji je zakazao)-->
						<th scope="col">LBP</th>
						<th scope="col">Zakazan datum</th>
						<th scope="col"> Status pregleda </th>
						<th scope="col">Napomena</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let schedule of paginatedSchedules">
						
						<td>{{schedule.id}}</td>
						<!--<td>{{schedule.pbo }}</td>-->
						<td>{{schedule.lbz}}</td>
						<td>{{schedule.lbp}}</td>
						<td>{{schedule.scheduledDate| date: 'dd.MM.yyyy'}}</td>
						<td>{{schedule.examStatus.notation}}</td>
						<td>{{schedule.note}}</td>

						<td><button *ngIf="schedule.examStatus.notation==='Zakazano'" (click)="makeWorkOrder(schedule.id,'Završeno',schedule.lbp)"
							class="btn btn-sm btn-primary">Napravi radni nalog</button></td>
						<td><button *ngIf="schedule.examStatus.notation=='Zakazano' " 
							(click)="changeExaminationStatus(schedule.id,'Otkazano')" 
							ngbAutofocus class="btn btn-sm btn-danger">Otkaži</button></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-center p-2">
				<ngb-pagination
					[collectionSize]="collectionSize"
					[(page)]="page"
					[pageSize]="pageSize"
					(pageChange)="refreshEmployees()"
				>
				</ngb-pagination>
			</div>
		</div>
	</div>

</div>
