<div *ngIf="
    this.authService.hasEitherPermission([
      'ROLE_DR_SPEC_ODELJENJA',
      'ROLE_DR_SPEC',
      'ROLE_DR_SPEC_POV'
    ]);
    else medsestra
  " class="p-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-9 table-responsive">
      <table id="tabelaPregleda"
        class="table table-light table-hover border-success rounded overflow-hidden caption-top">
        <caption class="h5">
          <div class="d-flex justify-content-between">
            <p>
              Zakazani pregledi za dan :
              {{ this.currentDate }}
            </p>
            <div class="d-flex flex-column">
              <div *ngIf="this.ime; else odaberitePacijenta" class="odabraniPacijent">
                <p style="color: darkslateblue">
                  Odabrani pacijent: {{ this.ime }} {{ this.prezime }}
                </p>
              </div>
              <ng-template #odaberitePacijenta>
                <p style="color: lightcoral">Odaberite pacijenta</p>
              </ng-template>
              <div class="d-flex">
                <input id="karton" type="button" class="btn btn-primary m-2" (click)="onKartonClick()" value="Zdravstveni karton" disabled />
                <input id="pregled" type="button" class="btn btn-primary m-2" (click)="onPregledClick()" value="Zdravstveni pregled" disabled />
              </div>
            </div>
          </div>
        </caption>
        <thead>
          <tr>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Starost</th>
            <th scope="col">Pol</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of schedMedExamsList" (click)="selectedPatient(patient.patientResponse.firstName, patient.patientResponse.lastName, patient.patientResponse.lbp)">
            <td>{{ patient.patientResponse.firstName }}</td>
            <td>{{ patient.patientResponse.lastName }}</td>
            <td>{{ patient.patientResponse.birthDate | dateOfBirthToAge }}</td>
            <td>{{ patient.patientResponse.gender.notation }}</td>
            <td>{{ patient.patientArrivalStatus.patientArrivalStatus }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
          (pageChange)="getScheduledAppointmentsForDoctor()">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
<ng-template #medsestra>
  <div class="p-5">
    <div *ngIf="selectedValue != ''; else odabariteLekara" class="row">
      <div class="row d-flex justify-content-center m-3">
        <div class="col-lg-3">
          <select id="doctorChoose" (ngModelChange)="doctorChoose($event)" [(ngModel)]="selectedValue"
            class="form-select">
            <option *ngFor="let doctor of doctors" [ngValue]="doctor">
              {{ doctor.firstName }} {{ doctor.lastName }}
            </option>
          </select>
        </div>
        <div class="col-lg-9 table-responsive">
          <table class="table table-light table-hover border-success rounded overflow-hidden caption-top">
            <caption class="h5">
              <div class="d-flex justify-content-between">
                <p>
                  Zakazani pregledi za dan :
                  {{ this.currentDate }}&nbsp;&nbsp;&nbsp;&nbsp;Lekar:
                  {{ this.doctorName }} {{ this.doctorLastName }}
                </p>
              </div>
            </caption>
            <thead>
              <tr>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Starost</th>
                <th scope="col">Pol</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of schedMedExamsList">
                <td>{{ patient.patientResponse.firstName }}</td>
                <td>{{ patient.patientResponse.lastName }}</td>
                <td>{{ patient.patientResponse.birthDate | dateOfBirthToAge }}</td>
                <td>{{ patient.patientResponse.gender.notation }}</td>
                <td>{{ patient.patientArrivalStatus.patientArrivalStatus }}</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
              (pageChange)="getScheduledAppointmentsForNurse()">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <ng-template #odabariteLekara>
      <h4 style="color: darkslateblue">Odaberite lekara:</h4>
      <div class="p-5">
        <div class="col-lg-3">
          <select id="doctorChoose" (ngModelChange)="doctorChoose($event)" [(ngModel)]="selectedValue"
            class="form-select">
            <option *ngFor="let doctor of doctors" [ngValue]="doctor">
              {{ doctor.firstName }} {{ doctor.lastName }}
            </option>
          </select>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
