<div style="display: flex; justify-content: center; margin-top:100px">
    <div class="col-lg-5">
      <form [formGroup]="dischargeListForm" class="p-5 border rounded-5 bg-light">
        <div class="form-check" style="display: flex; justify-content: center;">
          <h4><label class="form-check-label">Otpusna lista</label></h4>
        </div>
        <hr class="my-4">
        <div class="row g-3 mb-2">
            <div class="col-md-12 form-floating gx-1">
                <textarea formControlName="diagnosis" class="h-100 form-control rounded" placeholder="Prateće dijagnoze" id="floatingDiagnosis" rows="2"></textarea>
                <label for="floatingDiagnosis">Prateće dijagnoze</label>
            </div>
        </div>


        <div class="row g-3 mb-2">
            <div class="col-md-12 form-floating gx-1">
                <textarea formControlName="anamensa" class="h-100 form-control rounded" placeholder="Anamenza" id="floatingAnamensa" rows="2"></textarea>
                <label for="floatingAnamensa">Anamenza</label>
            </div>
            <div *ngIf="dischargeListFormSubmitted && dischargeListForm.get('anamensa')?.errors?.required" class="validation-error small alert alert-danger">
                Anamenza je obavezna
            </div>
        </div>


        <div class="row g-3 mb-2">
            <div class="col-md-12 form-floating gx-1">
                <textarea formControlName="analasis" class="h-100 form-control rounded" placeholder="Analize" id="floatingAnalasis" rows="2"></textarea>
                <label for="floatingAnalasis">Analize</label>
            </div>
        </div>

        <div class="row g-3 mb-2">
            <div class="col-md-12 form-floating gx-1">
                <textarea formControlName="courseOfDisease" class="h-100 form-control rounded" placeholder="Tok bolesti" id="floatingCourseOfDisease" rows="2"></textarea>
                <label for="floatingCourseOfDisease">Tok bolesti</label>
            </div>
        </div>

        <div class="row g-3 mb-2">
            <div class="col-md-12 form-floating gx-1">
                <textarea formControlName="conclusion" class="h-100 form-control rounded" placeholder="Zaključak" id="floatingZakljucak" rows="2"></textarea>
                <label for="floatingZakljucak">Zaključak</label>
            </div>
            <div *ngIf="dischargeListFormSubmitted && dischargeListForm.get('conclusion')?.errors?.required" class="validation-error small alert alert-danger">
                Zaključak je obavezan
            </div>
        </div>



        <div class="row g-3 mb-2">
            <div class="col-md-12 form-floating gx-1">
                <textarea formControlName="therapy" class="h-100 form-control rounded" placeholder="Terapija" id="floatingTherapy" rows="2"></textarea>
                <label for="floatingTherapy">Terapija</label>
            </div>
        </div>


        <hr class="my-4">
        <button (click)="sendDischargeList()" class="btn btn-md btn-primary w-100" type="submit">Napravi</button>
      </form>
    </div>
</div>
