<div class="p-5">
	<div class="row">
		<div class="col-lg-3">
			<form [formGroup]="searchEmployeesForm" class="p-3 border rounded-3 bg-light">
				<div class="mb-1">
					<input formControlName="firstName" class="form-control" type="text" placeholder="Ime">
				</div>
				<div class="mb-1">
					<input formControlName="lastName" class="form-control" type="text" placeholder="Prezime">
				</div>
				<div class="mb-1">
					<input formControlName="departmentName" class="form-control" type="text" placeholder="Odeljenje">
				</div>
				<div class="mb-1">
					<input formControlName="hospitalName" class="form-control" type="text" placeholder="Bolnica">
				</div>
				<div class="form-check">
					<input formControlName="includeDeleted" class="form-check-input" id="deletedCheckbox" type="checkbox">
					<label class="form-check-label" for="deletedCheckbox">Pretraži i zaposlene koji su obrisani</label>
				</div>
				<div class="form-check">
					<input formControlName="includeCovid" class="form-check-input" id="covidCheckbox" type="checkbox">
					<label class="form-check-label" for="covidCheckbox">Pretraži samo zaposlene koji imaju COVID pristup</label>
				</div>
				<hr class="my-4">
				<button (click)="search()" class="btn btn-md btn-primary w-100" type="submit">Pretraži</button>
			</form>
		</div>
		<div class="col-lg-9 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Ime</th>
						<th scope="col">Prezime</th>
						<th scope="col">Datum rođenja</th>
						<th scope="col">Titula</th>
						<th scope="col">Zanimanje</th>
						<th scope="col">Broj telefona</th>
						<th scope="col">Email</th>
						<th scope="col">Odeljenje</th>
						<th scope="col">Bolnica</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let employee of paginatedEmployees">
						<td>{{employee.firstName}}</td>
						<td>{{employee.lastName}}</td>
						<td>{{employee.dateOfBirth | date: 'dd.MM.yyyy'}}</td>
						<td>{{employee.title.notation}}</td>
						<td>{{employee.profession.notation}}</td>
						<td>{{employee.phone}}</td>
						<td>{{employee.email}}</td>
						<td>{{employee.departmentName}}</td>
						<td>{{employee.hospitalName}}</td>
						<td><button [routerLink]="['/admin-edit-employee', employee.lbz]" class="btn btn-sm btn-primary" data-testid="edit">Ažuriraj</button></td>
						<td><button (click)="deleteEmployee(employee.id)" ngbAutofocus class="btn btn-sm btn-danger" data-testid="delete">Obriši</button></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-center p-2">
				<ngb-pagination
					[collectionSize]="collectionSize"
					[(page)]="page"
					[pageSize]="pageSize"
					(pageChange)="refreshEmployees()"
				>
				</ngb-pagination>
			</div>
		</div>
	</div>

</div>
