<form [formGroup]="newemployeeForm" class="container p-4 border rounded-3 bg-light mt-4">
  <h4 class="mb-4">Dodaj novog zaposlenog</h4>
  <div class="row g-3 mb-3">
    <div class="col-md-6 form-floating gx-1">
      <input formControlName="email" type="email" class="form-control" id="floatingEmail" placeholder="Email" data-testid="email"
        required />
      <label for="floatingEmail">E-mail</label>
      <div *ngIf="submitted && newemployeeForm.get('email')?.errors?.required"
        class="validation-error small alert alert-danger">
        Email je obavezan
      </div>
      <div *ngIf="submitted && newemployeeForm.get('email')?.errors?.email"
        class="validation-error small alert alert-danger">
        Email nije validan
      </div>
    </div>
    <div class="col-md-6 form-floating gx-1">
      <input formControlName="kontakttel" type="text" class="form-control" id="floatingKontaktTel"
        placeholder="Kontakt telefon" />
      <label for="floatingDatRodjenja">Kontakt telefon (opciono)</label>
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col-md-6 form-floating gx-1">
      <input formControlName="ime" type="text" class="form-control" id="floatingIme" placeholder="Ime" data-testid="name"/>
      <label for="floatingIme">Ime</label>
      <div *ngIf="submitted && newemployeeForm.get('ime')?.errors?.required"
        class="validation-error small alert alert-danger">
        Ime je obavezno
      </div>
    </div>
    <div class="col-md-6 form-floating gx-1">
      <input formControlName="prezime" type="text" class="form-control" id="floatingPrezime" placeholder="Prezime" data-testid="surname"/>
      <label for="floatingPrezime">Prezime</label>
      <div *ngIf="submitted && newemployeeForm.get('prezime')?.errors?.required"
        class="validation-error small alert alert-danger">
        Prezime je obavezno
      </div>
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col-md-4 form-floating gx-1">
      <input formControlName="datumrodjenja" type="date" class="form-control" id="floatingDatRodjenja"
        placeholder="Datum rodjenja" data-testid="date"/>
      <label for="floatingDatRodjenja">Datum rodjenja</label>
      <div *ngIf="submitted && newemployeeForm.get('datumrodjenja')?.errors?.required"
        class="validation-error small alert alert-danger">
        Datum rođenja je obavezan
      </div>
    </div>
    <div class="col-md-6 form-floating gx-1">
      <input formControlName="jmbg" type="text" class="form-control" id="floatingJmbg" placeholder="JMBG" data-testid="jmbg"/>
      <label for="floatingJmbg">JMBG</label>
      <div *ngIf="submitted && newemployeeForm.get('jmbg')?.errors?.required"
        class="validation-error small alert alert-danger">
        JMBG je obavezan
      </div>
    </div>
    <div class="col-md-2 form-check gx-1">
      <div class="form-check">
        <input formControlName="pol" type="radio" value="Muski" class="form-check-input" id="floatingPolm" data-testid="male"/>
        <label class="form-check-label" for="floatingPolm">Muško</label>
      </div>
      <div class="form-check">
        <input formControlName="pol" type="radio" value="Zenski" class="form-check-input" id="floatingPolz" />
        <label class="form-check-label" for="floatingPolz">Žensko</label>
      </div>
      <div *ngIf="submitted && newemployeeForm.get('pol')?.errors?.required" class="validation-error small alert alert-danger">
        Pol je obavezan
      </div>
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col-md-6 form-floating gx-1">
      <input formControlName="mestostanovanja" type="text" class="form-control" id="floatingMestoStanovanja"
        placeholder="Mesto stanovanja" data-testid="place"/>
      <label for="floatingDatRodjenja">Mesto stanovanja</label>
      <div *ngIf="submitted && newemployeeForm.get('mestostanovanja')?.errors?.required"
        class="validation-error small alert alert-danger">
        Mesto stanovanja je obavezno
      </div>
    </div>
    <div class="col-md-6 form-floating gx-1">
      <input formControlName="adresastanovanja" type="text" class="form-control" id="floatingAdresaStanovanja"
        placeholder="Adresa stanovanja" data-testid="address"/>
      <label for="floatingAdresaStanovanja">Adresa stanovanja</label>
      <div *ngIf="submitted && newemployeeForm.get('adresastanovanja')?.errors?.required"
        class="validation-error small alert alert-danger">
        Adresa stanovanja je obavezna
      </div>
    </div>
  </div>
  <div class="row g-3 mb-3">
    <div class="col-md-3 form-floating gx-1">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_ADMIN" id="floatingAdminPriv">
        <label class="form-check-label" for="floatingAdminPriv">Administrator</label>
      </div>
      <hr class="my-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_DR_SPEC_ODELJENJA" id="floatingNacelnik">
        <label class="form-check-label" for="floatingNacelnik">Načelnik odeljenja</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_DR_SPEC" id="floatingDocSpec" data-testid="doctor-checkbox">
        <label class="form-check-label" for="floatingDocSpec">Doktor specijalista</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_DR_SPEC_POV" id="floatingDocSpecPov">
        <label class="form-check-label" for="floatingDocSpecPov">Doktor specijalista (poverljiv pristup)</label>
      </div>
      <hr class="my-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_VISA_MED_SESTRA" id="floatingMedSestra">
        <label class="form-check-label" for="floatingMedSestra">Medicinska sestra</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_MED_SESTRA" id="floatingMedSestraVisa">
        <label class="form-check-label" for="floatingMedSestraVisa">Viša medicinska sestra</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_RECEPCIONER" id="floatingRecepcioner">
        <label class="form-check-label" for="floatingRecepcioner">Recepcioner</label>
      </div>
      <hr class="my-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_LAB_TEHNICAR" id="floatingLabTeh">
        <label class="form-check-label" for="floatingLabTeh">Laboratorijski tehničar</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_VISI_LAB_TEHNICAR" id="floatingVisiLabTeh">
        <label class="form-check-label" for="floatingVisiLabTeh">Viši laboratorijski tehničar</label>
      </div>
      <hr class="my-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_MED_BIOHEMICAR" id="floatingMedBiohem">
        <label class="form-check-label" for="floatingMedBiohem">Medicinski biohemičar</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formArrayName="privilegije" (change)="onPrivilegijeCheckboxChange($event)" value="ROLE_SPEC_MED_BIOHEMIJE" id="floatingMedBiohemSpec">
        <label class="form-check-label" for="floatingMedBiohemSpec">Specijalista medicinske biohemije</label>
      </div>
      <div *ngIf="submitted && newemployeeForm.get('privilegije')?.errors?.required" class="validation-error small alert alert-danger">
        Odaberite bar jednu privilegiju
      </div>
    </div>
    <div class="col-md-3">
      <select formControlName="titula" class="form-select" aria-label="Default select example" data-testid="titula-dropdown">
        <option disabled selected value>Titula</option>
        <option value="Prof. dr. med.">Prof. dr. med.</option>
        <option value="Dr med. spec.">Dr med. spec.</option>
        <option value="Dr sci. med.">Dr sci. med.</option>
        <option value="Dipl. farm.">Dipl. farm.</option>
        <option value="Mag. farm.">Mag. farm.</option>
      </select>
      <div *ngIf="submitted && newemployeeForm.get('titula')?.errors?.required" class="validation-error small alert alert-danger">Titula je obavezna</div>
    </div>
    <div class="col-md-3">
      <select formControlName="odeljenje" class="form-select" aria-label="Default select example" data-testid="odeljenje-dropdown">
        <option disabled selected value>Odeljenje</option>
        <option value="1">Hirurgija</option>
        <option value="2">Laboratorija</option>
        <option value="3">Dijagnostika</option>
      </select>
      <div *ngIf="submitted && newemployeeForm.get('odeljenje')?.errors?.required" class="validation-error small alert alert-danger">Odeljenje je obavezno</div>
    </div>
    <div class="col-md-3">
      <select formControlName="zanimanje" class="form-select" aria-label="Default select example" data-testid="zanimanje-dropdown">
        <option disabled selected value>Zanimanje</option>
        <option value="Med. sestra">Med. sestra</option>
        <option value="Spec. biohemičar">Spec. biohemičar</option>
        <option value="Spec. gastroenterolog">Spec. gastroenterolog</option>
        <option value="Spec. ginekolog">Spec. ginekolog</option>
        <option value="Spec. endokrinolog">Spec. endokrinolog</option>
        <option value="Spec. kardiolog">Spec. kardiolog</option>
        <option value="Spec. neurolog">Spec. neurolog</option>
        <option value="Spec. nefrolog">Spec. nefrolog</option>
        <option value="Spec. psihijatar">Spec. psihijatar</option>
        <option value="Spec. pulmolog">Spec. pulmolog</option>
        <option value="Spec. urolog">Spec. urolog</option>
        <option value="Spec. hematolog">Spec. hematolog</option>
        <option value="Spec. hirurg">Spec. hirurg</option>
      </select>
      <div *ngIf="submitted && newemployeeForm.get('zanimanje')?.errors?.required" class="validation-error small alert alert-danger">Zanimanje je obavezno</div>
    </div>
  </div>
  <hr class="my-4">
  <div class="row g-3 mb-3 justify-content-center">
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary form-control mb-2" (click)="newEmployee()" data-testid="add-employee-button">Dodaj zaposlenog</button>
    </div>
  </div>
</form>