<div
  *ngIf="
    this.authService.hasEitherPermission([
      'ROLE_MED_BIOHEMICAR',
      'ROLE_SPEC_MED_BIOHEMIJE'
    ]);
    else noperms
  "
  class="p-5"
>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-3 d-flex flex-column">
      <p class="fs-6 fw-bold">Pretraga po lbp</p>
      <input
        class="form-control"
        type="text"
        id="byLbpSearch"
        [(ngModel)]="lbp"
      />
      <br />
      <p class="fs-6 fw-bold">Pretraga po datumu</p>
      <label for="startDate">Od</label>
      <input
        id="startDate"
        class="form-control"
        type="date"
        [(ngModel)]="startDate"
      />
      <label for="endDate">Do</label>
      <input
        id="endDate"
        class="form-control"
        type="date"
        [(ngModel)]="endDate"
      />
      <br />
      <p class="fs-6 fw-bold">Pretraga po statusu obrade</p>
      <select id="status" class="form-select" [(ngModel)]="status">
        <option value="Neobrađen">Neobrađen</option>
        <option value="Obrađen">Obrađen</option>
        <option value="U obradi">U obradi</option>
      </select>
      <br />
      <input
        id="Search"
        (click)="search()"
        type="button"
        class="btn btn-primary m-2"
        value="Search"
      />
    </div>
    <div class="col-lg-9 table-responsive">
      <table
        id="tabelaPregleda"
        class="table table-light table-hover border-success rounded overflow-hidden caption-top"
      >
        <thead>
          <tr style="color: #78c2ad">
            <th scope="col">ID</th>
            <th scope="col">Datum i vreme kreiranja</th>
            <th scope="col">LBP pacijenta</th>
            <th scope="col">Status</th>
            <th scope="col">Lbz tehnicara</th>
          </tr>
        </thead>
        <tbody>
          <tr
            style="font-size: 0.7rem; font-weight: bold; color: #78c2ad"
            *ngFor="let order of orderList"
          >
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
            <td>{{ order[4] }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="search()"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
<ng-template #noperms>
  <h4 style="color: lightcoral">Nemate odgovarajuću permisiju.</h4>
</ng-template>
