<div class="p-5">
  <div class="row">
    <div class="col-lg-3">
      <form [formGroup]="stationaryAppointmentsForm" class="p-3 border rounded-3 bg-light">
        <div class="mb-2">
          <label for="typeaheadPatient">Pretraži pacijenta:</label>
          <input formControlName="patient" [(ngModel)]="model" [ngbTypeahead]="searchPatients"
            [resultFormatter]="formatResultingPatient" [inputFormatter]="inputFormatResultingPatient" type="text"
            id="typeaheadPatient" class="form-control">
        </div>
        <div class="mb-1">
          <label for="do">Datum</label>
          <input formControlName="dateAndTime" class="form-control" type="date" id="do" placeholder="dateAndTime">
        </div>
        <hr class="my-4">
        <button (click)="search()" class="btn btn-md btn-primary w-100" type="submit">Pretraži</button>
      </form>
    </div>
    <div class="col-lg-9 table-responsive">
      <table class="table table-light table-striped">
        <thead>
          <tr>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Adresa</th>
            <th scope="col">Datum Rodjenja</th>
            <th scope="col">Datum pregleda</th>
            <th scope="col">Napomena</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <tbody>
          <tr *ngFor="let elem of loopClass">
            <td>{{elem.firstName}}</td>
            <td>{{elem.lastName}}</td>
            <td>{{elem.address}}</td>
            <td>{{elem.dateOfBirth}}</td>
            <td>{{elem.date | date: 'dd-MM-yyyy'}}</td>
            <td>{{elem.note}}</td>
            <td>{{elem.notation}}</td>
            <td>
              <button [disabled]="elem.notation === 'Otkazan'" *ngIf="this.authService.hasEitherPermission(['ROLE_MED_SESTRA', 'ROLE_VISA_MED_SESTRA'])"
                (click)="cancelAppointment(elem.appointmentId, elem.notation)" class="btn btn-sm btn-danger"
                data-testid="health-record">Otkaži
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="search()">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>