<div class="main container mx-auto">
  <div class="row g-5 justify-content-center">
    <div  class="col-md-4">
      <div routerLink="/basic-health-record" class="card border-secondary h-100">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Osnovni zdravstveni podaci</h5>
          <p class="card-text">
            Pogledati osnovne zdravstvene podatke pacijenta.
          </p>
        </div>
      </div>
    </div>
    <div  class="col-md-4">
      <div routerLink="/medical-history-record" class="card border-secondary h-100">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="New employee - person with a plus"
        />
        <div class="card-body">
          <h5 class="card-title">Istorija pregleda</h5>
          <p class="card-text">Stranica za istoriju pregleda.</p>
        </div>
      </div>
    </div>
    <div  class="col-md-4">
      <div routerLink="/illness-history" class="card border-secondary h-100">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Istorija bolesti</h5>
          <p class="card-text">Stranica za istoriju bolesti.</p>
        </div>
      </div>
    </div>
    <div  class="col-md-4">
      <div [routerLink]="['/referral-history', lbp]" class="card border-secondary h-100" data-testid="referral-history">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Istorija uputa</h5>
          <p class="card-text">Pregledajte istoriju pacijentovih uputa za određen vremenski period.</p>
        </div>
      </div>
    </div>
    <div  class="col-md-4">
      <div [routerLink]="['/doc-lab-work-order-history', lbp]" class="card border-secondary h-100" data-testid="lab-work-order-history">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Istorija laboratorijskih izveštaja</h5>
          <p class="card-text">Pretražite laboratorijske izveštaje pacijenta, po konkretnom datumu ili na osnovu raspona datuma</p>
        </div>
      </div>
    </div>
    <div  class="col-md-4">
      <div [routerLink]="['/doc-stationary-medical-report-history', lbp]" class="card border-secondary h-100" data-testid="doc-stationary-medical-report-history">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Istorija stacionarnih izveštaja</h5>
          <p class="card-text">Pretražite stacionarne izveštaje pacijenta, po konkretnom datumu ili na osnovu raspona datuma</p>
        </div>
      </div>
    </div>
    <div  class="col-md-4">
      <div [routerLink]="['/doc-stationary-discharge-history', lbp]" class="card border-secondary h-100" data-testid="doc-stationary-discharge-history">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Istorija otpusnih listi</h5>
          <p class="card-text">Pretražite otpusnu listu pacijenata, po konkretnom datumu ili na osnovu raspona datuma</p>
        </div>
      </div>
    </div>
    <div  class="col-md-4">
      <div [routerLink]="['../../health-record/covid', lbp]" class="card border-secondary h-100" data-testid="doc-stationary-discharge-history">
        <img
          src="../../assets/images/person-lines-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">COVID istorija</h5>
          <p class="card-text">Pregledajte istoriju COVID testiranja i vakcinacija</p>
        </div>
      </div>
    </div>
  </div>
</div>
