<form [formGroup]="specialistDoctorExaminationForm" class="container p-4 border rounded-3 bg-light mt-4 mb-4">
    <h3 class="mb-4"><i class="bi bi-person-circle" style="margin-right: 8px;"></i>{{patient.firstName + " " + patient.lastName}}<span class="badge bg-info" style="margin-left: 15px;">{{patient.gender.notation | genderPipe}}, {{patient.birthDate | dateOfBirthToAge}}</span></h3>
    <h4>Vakcine:</h4>
    <span class="badge rounded-pill bg-danger" *ngFor="let item of vaccines"
        style="margin-left: 5px; font-size: 0.8rem;">{{item}}</span>
    <h4 class="mt-3">Alergije:</h4>
    <span class="badge rounded-pill bg-warning" *ngFor="let item of alergies"
        style="margin-left: 5px; font-size: 0.8rem;">{{item}}</span>
    <hr class="my-4">
    <h4 class="mb-3">Anamneza:</h4>

    <div class="row mb-3">
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="glavneTegobe" class="h-100 form-control rounded" placeholder="Glavne tegobe"
                id="floatingGlavneTegobe" rows="10"></textarea>
            <label for="floatingGlavneTegobe">Glavne tegobe</label>
        </div>
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="sadasnjaBolest" class="h-100 form-control rounded" placeholder="Sadašnja bolest"
                id="floatingSadasnjaBolest" rows="10"></textarea>
            <label for="floatingSadasnjaBolest">Sadašnja bolest</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="licnaAnamneza" class="h-100 form-control rounded" placeholder="Lična anamneza"
                id="floatingLicnaAnamneza" rows="10"></textarea>
            <label for="floatingLicnaAnamneza">Lična anamneza</label>
        </div>
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="porodicnaAnamneza" class="h-100 form-control rounded"
                placeholder="Porodična anamneza" id="floatingPorodicnaAnamneza" rows="10"></textarea>
            <label for="floatingPorodicnaAnamneza">Porodična anamneza</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 form-floating gx-1">
            <textarea formControlName="misljenjePacijenta" class="h-100 form-control rounded"
                placeholder="Mišljenje pacijenta" name="" id="floatingMisljenjePacijenta" rows="10"></textarea>
            <label for="floatingMisljenjePacijenta">Mišljenje pacijenta</label>
        </div>
    </div>

    <hr class="my-4">

    <h4 class="mb-3">Dijagnoza:</h4>
    <div class="row mb-3">
        <div class="col-md-12 form-floating gx-1">
            <textarea (input)="onTextChanged()" formControlName="objektivniNalaz" class="h-100 form-control rounded mb-3"
                placeholder="Objektivni nalaz" id="floatingObjektivniNalaz" rows="10"></textarea>
            <label for="floatingObjektivniNalaz">Objektivni nalaz</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button [disabled]="dodajDijagnozuDugme" *ngIf="showButton" (click)="onButtonClick()" type="button"
                class="btn btn-secondary rounded-pill">Dodaj dijagnozu</button>
        </div>
    </div>
    <div *ngIf="expand" class="row mb-3">
        <div class="col-md-2">
            <select formControlName="sifraBolesti" class="form-select" id="sifra-bolesti" name="language">
                <option disabled selected value>Šifra bolesti</option>
                <option value="A15.3">A15.3</option>
                <option value="D50">D50</option>
                <option value="I10">I10</option>
                <option value="I35.0">I35.0</option>
                <option value="J11">J11</option>
                <option value="J12.9">J12.9</option>
                <option value="K35">K35</option>
                <option value="K70.3">K70.3</option>
                <option value="K71.0">K71.0</option>
                <option value="N20.0">N20.0</option>
            </select>
        </div>
        <div class="col-md-2">
            <select formControlName="rezultatLecenja" class="form-select" id="rezultat-lecenja" name="language">
                <option disabled selected value>Rezultat lečenja</option>
                <option value="U toku">U toku</option>
                <option value="Oporavljen">Oporavljen</option>
                <option value="Preminuo">Preminuo</option>
                <option value="Stalne posledice">Stalne posledice</option>
            </select>
        </div>
        <div class="col-md-8">
            <div class="form-floating gx-1"><textarea formControlName="opisStanja" class="h-100 form-control rounded"
                    placeholder="Opis tekućeg stanja" id="floatingOpisStanja" cols="50" rows="10"></textarea>
                <label for="floatingOpisStanja">Opis stanja</label>
            </div>
            <div class="form-check mt-2">
                <input formControlName="postojecaDijagnoza" class="form-check-input" type="checkbox"
                    id="exampleCheckbox">
                <label class="form-check-label" for="exampleCheckbox">Postojeća dijagnoza</label>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <h4 class="mb-3">Predlaganje terapije:</h4>
    <div class="row mb-3">
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="predlaganjeTerapije" class="h-100 form-control rounded" placeholder="Terapija"
                id="formFloatingTerapija" rows="10"></textarea>
            <label for="formFloatingTerapija">Terapija</label>
        </div>
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="savet" class="h-100 form-control rounded" placeholder="Savet"
                id="formFloatingSavet" rows="10"></textarea>
            <label for="formFloatingSavet">Savet</label>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col form-floating">
            <div *ngIf="isSpecial" class="form-check">
                <input formControlName="izvestajPoveljiv" class="form-check-input" type="checkbox" value=""
                    id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Izveštaj pregleda poverljiv
                </label>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-block btn-primary w-100" type="button"
                (click)="open(mymodal)">SAČUVAJ</button>
        </div>
    </div>



    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">{{modalTitle}}</h4>
            <button type="button" class="btn-close" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <p>
                <strong>{{modalBody}}</strong>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
                (click)="modal.close('Save click')">{{modalButton}}</button>
        </div>
    </ng-template>
</form>