<header>
  <nav *ngIf="this.authService.isLoggedIn()" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand">Balkan Medic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul *ngIf="!isOnHomePage()" class="navbar-nav me-auto">
          <li class="nav-item">
            <a routerLink="/personal-data" class="nav-link active" aria-current="page" href="#">Moji podaci</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Zaposleni</a>
            <div class="dropdown-menu">
              <a *ngIf="this.authService.hasPermission('ROLE_ADMIN')" routerLink="/search-employees" class="dropdown-item" href="#">Pretraži zaposlene</a>
              <a *ngIf="this.authService.hasPermission('ROLE_ADMIN')" routerLink="/new-employee" class="dropdown-item" href="#">Dodaj novog zaposlenog</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Pacijenti</a>
            <div class="dropdown-menu">
              <a *ngIf="this.authService.hasEitherPermission(['ROLE_DR_SPEC_ODELJENJA', 'ROLE_DR_SPEC', 'ROLE_DR_SPEC_POV', 'ROLE_MED_SESTRA', 'ROLE_VISA_MED_SESTRA'])"
              routerLink="/scheduled-appointments"     routerLink="/search-patients" class="dropdown-item" href="#">Svi pacijenti</a>
              <a *ngIf="this.authService.hasEitherPermission(['ROLE_MED_SESTRA', 'ROLE_VISA_MED_SESTRA'])"
                  routerLink="/new-patient" class="dropdown-item" href="#">Dodaj novog pacijenta</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Pregledi</a>
            <div class="dropdown-menu">
              <a routerLink="/new-appointment" *ngIf="this.authService.hasEitherPermission(['ROLE_MED_SESTRA', 'ROLE_VISA_MED_SESTRA'])"
                class="dropdown-item" href="#">Zakazivanje pregleda</a>
              <a *ngIf="this.authService.hasEitherPermission(['ROLE_LAB_TEHNICAR', 'ROLE_VISI_LAB_TEHNICAR'])"
                class="dropdown-item" href="#">Zakazani pregledi</a>
            </div>
          </li>

          <li class="nav-item" *ngIf="this.authService.hasEitherPermission(['ROLE_LAB_TEHNICAR', 'ROLE_VISI_LAB_TEHNICAR'])">
            <a class="nav-link active" href="#" id="navbarItem" aria-haspopup="true" aria-expanded="false" role="button">Zakazivanje posete</a>
          </li>

          <li class="nav-item dropdown" *ngIf="this.authService.hasEitherPermission(['ROLE_LAB_TEHNICAR', 'ROLE_VISI_LAB_TEHNICAR'])">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Prijem pacijenata</a>
            <div class="dropdown-menu">
              <a routerLink="/scheduled-patients" *ngIf="this.authService.hasEitherPermission(['ROLE_LAB_TEHNICAR', 'ROLE_VISI_LAB_TEHNICAR'])"
                class="dropdown-item" href="#">Zakazani pacijenti</a>
              <a routerLink="/new-work-order" *ngIf="this.authService.hasEitherPermission(['ROLE_LAB_TEHNICAR', 'ROLE_VISI_LAB_TEHNICAR'])"
                class="dropdown-item" href="#">Pravljenje radnog naloga</a>
            </div>
          </li>
          <li class="nav-item" *ngIf="this.authService.hasEitherPermission(['ROLE_LAB_TEHNICAR', 'ROLE_VISI_LAB_TEHNICAR'])">
            <a class="nav-link active" href="#" id="navbarItem" aria-haspopup="true" aria-expanded="false" role="button">Izdavanje rezultata</a>
          </li>

        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/login" (click)="this.authService.logout()" class="nav-link active" href="#" aria-current="page"><i class="bi bi-box-arrow-in-right" style="font-size: 1.3rem; margin-right: 7px; color: #ff7851"></i>Odjavi se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
