<div class="main container mx-auto">
  <div class="row g-5 justify-content-center">
    <div class="col-md-4">
      <div routerLink="/appointment-scheduling" class="card border-secondary h-100" id="personal-info-card3">
        <img src="../../assets/images/box-arrow-in-right.svg" class="card-img-top w-75 mx-auto p-2" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Zakazivanje prijema</h5>
          <p class="card-text">Zakazivanje termina prijema u bolnicu ili pregled zakazanih termina prijema.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div routerLink="/stationary-patient-reception" class="card border-secondary h-100" id="personal-info-card5">
        <img src="../../assets/images/person-circle.svg" class="card-img-top w-75 mx-auto p-2" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Prijem pacijenata</h5>
          <p class="card-text">Pogledajte zakazane termine prijema za tekući dan ili obavite nov prijem pacijenta na stacionarno lečenje.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div routerLink="/search-stationary-patients" class="card border-secondary h-100" id="personal-info-card5">
        <img src="../../assets/images/person-circle.svg" class="card-img-top w-75 mx-auto p-2" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pacijenti odeljenja</h5>
          <p class="card-text">Pretražite pacijente na stacionarnom lečenju.</p>
        </div>
      </div>
    </div>
  </div>
</div>
