<div class="p-5">
	<div class="row">
		<div class="col-lg-3">
			<form [formGroup]="searchReferralForm" class="p-3 border rounded-3 bg-light">
				<div class="mb-1">
					<input formControlName="search" class="form-control" type="text" placeholder="Pretraga">
				</div>
				<div class="mb-1">
					<input formControlName="lbp" class="form-control" type="text" placeholder="LBP">
				</div>
				<!--<div class="form-check">
					<input formControlName="includeDeleted" class="form-check-input" id="deletedCheckbox" type="checkbox">
					<label class="form-check-label" for="deletedCheckbox">Pretraži i upute koji su obrisani</label>
				</div> -->
				<hr class="my-4">
				<button (click)="search()" class="btn btn-md btn-primary w-100" type="submit">Pretraži</button>
			</form>
		</div>
		<div class="col-lg-9 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Tip</th>
						<th scope="col">Lekar</th>
						<th scope="col">Datum kreiranja</th>
						<th scope="col">Uput IZ</th>
						<th scope="col">Uput NA</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let referral of referrals">
						<td>{{referral.id}}</td>
						<td>{{referral.type}}</td>
                        <td>{{referral.lbz}}</td>
						<td>{{referral.creationTime | date: 'dd.MM.yyyy'}}</td>
						<td>{{referral.pboReferredFrom}}</td>
						<td>{{referral.pboReferredTo}}</td>
						<td><button *ngIf="this.authService.hasEitherPermission(['ROLE_DR_SPEC_ODELJENJA', 'ROLE_DR_SPEC', 'ROLE_DR_SPEC_POV'])"
							 class="btn btn-sm btn-primary">Odštampaj</button>
						</td>
						<td><button *ngIf="this.authService.hasEitherPermission(['ROLE_MED_SESTRA', 'ROLE_VISA_MED_SESTRA'])"
							(click)="deleteReferral(referral.id)" ngbAutofocus class="btn btn-sm btn-danger">Obriši</button>
						</td>
					</tr>
					<tr *ngIf="selectedReferral">
						<td colspan="6">
						  <div>
							<p>Status: {{selectedReferral.status}}</p>
							<p>Dijagnoza: {{selectedReferral.referralDiagnosis}}</p>
							<p>Potrebna analiza: {{selectedReferral.requiredAnalysis}}</p>
							<p>Komentar: {{selectedReferral.comment}}</p>
						  </div>
						</td>
					  </tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-center p-2">
				<ngb-pagination
					[collectionSize]="collectionSize"
					[(page)]="page"
					[pageSize]="pageSize"
					(pageChange)="refreshReferrals()"
				>
				</ngb-pagination>
			</div>
		</div>
	</div>
</div>