<form [formGroup]="form" class="container p-4 border rounded-3 bg-light mt-4 mb-4">
    <h3 *ngIf="patient !== undefined" class="mb-4"><i class="bi bi-person-circle" style="margin-right: 8px;"></i>{{patient.firstName + " " + patient.lastName}}<span class="badge bg-info" style="margin-left: 15px;">{{patient.gender.notation | genderPipe}}, {{patient.birthDate | dateOfBirthToAge}}</span></h3>
    <h4>Vakcine:</h4>
    <span class="badge rounded-pill bg-danger" *ngFor="let item of vaccines"
        style="margin-left: 5px; font-size: 0.8rem;">{{item.vaccine.name}}</span>
    <h4 class="mt-3">Alergije:</h4>
    <span class="badge rounded-pill bg-warning" *ngFor="let item of allergies"
        style="margin-left: 5px; font-size: 0.8rem;">{{item.allergen.name}}</span>
    <hr class="my-4">

    <div class="row mb-3">
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="reason" class="h-100 form-control rounded" placeholder="Razlog"
                id="floatingGlavneTegobe" rows="10"></textarea>
            <label for="floatingGlavneTegobe">Razlog</label>
        </div>
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="temperature" class="h-100 form-control rounded" placeholder="Temperatura"
                id="floatingSadasnjaBolest" rows="10"></textarea>
            <label for="floatingSadasnjaBolest">Temperatura</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="bloodPressure" class="h-100 form-control rounded" placeholder="Krvni pritisak"
                id="floatingLicnaAnamneza" rows="10"></textarea>
            <label for="floatingLicnaAnamneza">Krvni pritisak</label>
        </div>
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="pulse" class="h-100 form-control rounded"
                placeholder="Puls" id="floatingPorodicnaAnamneza" rows="10"></textarea>
            <label for="floatingPorodicnaAnamneza">Puls</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="appliedTherapies" class="h-100 form-control rounded"
                placeholder="Primenjene terapije" name="" id="floatingMisljenjePacijenta" rows="10"></textarea>
            <label for="floatingMisljenjePacijenta">Primenjene terapije</label>
        </div>
        <div class="col-md-6 form-floating gx-1">
            <textarea formControlName="description" class="h-100 form-control rounded"
                placeholder="Opis stanja" name="" id="floatingMisljenjePacijenta" rows="10"></textarea>
            <label for="floatingMisljenjePacijenta">Opis stanja</label>
        </div>
    </div>

    <hr class="my-4">

    <button (click)="onSubmit()" class="btn btn-lg btn-block btn-primary w-100" type="button">Sačuvaj</button>
</form>