<ng-template #new_appointment_content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Zakaži pregled</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
        <p>yoooo</p>
        <form [formGroup]="newTestingForm">
            <div class="form-group mb-3">
                <label for="typeaheadPatient">Pretraži pacijente:</label>
                <input formControlName="patient" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatResultingPatient" [inputFormatter]="inputFormatResultingPatient" type="text" id="typeaheadPatient" class="form-control">
            </div>
            <div class="form-group">
                <label for="additionalComment">Dodaj komentar</label>
                <textarea formControlName="note" class="form-control" id="additionalComment" rows="4"></textarea>
            </div>
        </form>
		<button type="button" class="btn btn-outline-success mt-4 w-100" (click)="offcanvas.close('Close click')">Zakaži</button>
	</div>
</ng-template>

<div class="p-5">
    <div class="bg-light border rounded-3">
        <full-calendar #calendar class="p-3" [options]="calendarOptions"></full-calendar>
    </div>
</div>
