<div class="p-5">
	<div class="row">
		<h4>Istorija stacionarnih izveštaja</h4>
		<h4 *ngIf="patient !== undefined" class="mb-4">
			<i class="bi bi-person-circle" style="margin-right: 8px;"></i>
			{{patient.firstName + " " + patient.lastName}}
			<span class="badge bg-info" style="margin-left: 15px;">
				{{patient.gender.notation | genderPipe}}, {{patient.birthDate | dateOfBirthToAge}}
			</span>
		</h4>
		<div class="col-lg-3">
			<form [formGroup]="form" class="p-3 border rounded-3 bg-light">
				<div class="mb-1">
                    <label>Od:</label>
					<input formControlName="dateFrom" class="form-control" type="date" placeholder="Od">
				</div>
				<div class="mb-1">
                    <label>Do:</label>
					<input formControlName="dateTo" class="form-control" type="date" placeholder="Do">
				</div>
				<hr class="my-4">
				<button (click)="search()" class="btn btn-md btn-primary w-100" type="submit">Pretraži</button>
			</form>
		</div>
		<div class="col-lg-9 table-responsive">
			<table class="table table-striped table-light">
				<thead>
					<tr>
						<th scope="col">Datum izveštaja</th>
						<th scope="col">Poverljivo</th>
						<th scope="col">Objektivni rezultat</th>
						<th scope="col">Dijagnoza</th>
						<th scope="col">Preporučena terapija</th>
						<th scope="col">Savet</th>
						<th scope="col">LBZ</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let report of reports">
						<td>{{report.date | date: 'dd/MM/yyyy'}}</td>
						<td>{{report.confidentIndicator === true ? 'Da' : 'Ne' }}</td>
						<td>{{report.objectiveResult}}</td>
						<td>{{report.diagnosis}}</td>
						<td>{{report.proposedTherapy}}</td>
                        <td>{{report.advice}}</td>
						<td>{{report.doctorLbz}}</td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-center p-2">
				<ngb-pagination
					[collectionSize]="collectionSize"
					[(page)]="page"
					[pageSize]="pageSize"
					(pageChange)="search()"
				>
				</ngb-pagination>
			</div>
		</div>
	</div>
</div>
