<div class="p-5">
    <h4>Zakazana COVID testiranja</h4>
    <div class="row">
        <div class="col-lg-3">
            <form [formGroup]="form" class="p-3 border rounded-3 bg-light">
                <div class="mb-2">
                    <label for="lbp">LBP</label>
                    <input formControlName="lbp" class="form-control" type="text">
                </div>
                <div class="mb-2">
					<label for="do">Datum</label>
					<input formControlName="date" class="form-control" type="date" placeholder="endDate">
				</div>
                <hr class="my-4">
                <button (click)="search()" class="btn btn-md btn-primary w-100" type="submit">Pretraži</button>
            </form>
        </div>
        <div class="col-lg-9 table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">Pacijent</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Status testa</th>
                        <th scope="col">Status dospeća pacijenta</th>
                        <th scope="col">Med. sestra</th>
                        <th scope="col">Beleška</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let test of tests">
                        <td>{{ test.patientFirstName + ' ' + test.patientLastName }}</td>
                        <td>{{ test.dateAndTime | date: 'dd/MM/yyyy, HH:mm' }}</td>
                        <td>{{ test.testStatus.examinationStatus }}</td>
                        <td>{{ test.patientArrivalStatus.patientArrivalStatus }}</td>
                        <td>{{ test.schedulerLbz }}</td>
                        <td>{{ test.note }}</td>
                        <td><button [disabled]="test.testStatus.examinationStatus !== 'Zakazano'" [routerLink]="['../new-covid-test', test.lbp, test.id]" class="btn btn-sm btn-primary">Testiranje</button></td>
                        <td><button (click)="onCancel(test.id)" class="btn btn-sm btn-danger">Otkaži</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center p-2">
				<ngb-pagination
					[collectionSize]="collectionSize"
					[(page)]="page"
					[pageSize]="pageSize"
					(pageChange)="search()"
				>
				</ngb-pagination>
			</div>
        </div>
    </div>
</div>