body {
    background-color: #bedadb;
}

.btn-primary {
    background-color: #4aaeb4;
    border-color: #3aa0a5;
}

.btn-primary:hover {
    background-color: #58cdd3;
    border-color: #3aa0a5;
}

.validation-error {
    padding: 0.3rem;
    margin-bottom: 0;
}

ngb-pagination ::ng-deep a {
    color: black !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: #236f74;
    background-color: #4aaeb4;
}
