<div class="main mx-auto">
  <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-5">
    <div class="col">
      <div class="card h-100" id="personal-info-card">
        <img
          src="../../assets/images/person-circle.svg"
          class="card-img-top w-75 mx-auto p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Moji podaci</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div routerLink="/search-employees" class="card h-100">
        <img
          src="../../assets/images/search.svg"
          class="card-img-top w-75 mx-auto p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Pretraži zaposlene</h5>
          <p class="card-text">
            Pretraži po imenu, prezimenu, odeljenju ili bolnici.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div routerLink="/new-employee" class="card h-100">
        <img
          src="../../assets/images/person-plus-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="New employee - person with a plus"
        />
        <div class="card-body">
          <h5 class="card-title">Dodaj novog zaposlenog</h5>
          <p class="card-text">Stranica za dodavanje novog zaposlenog.</p>
        </div>
      </div>
    </div>
  </div>
</div>
