<div class="main container mx-auto">
  <div class="row g-5 justify-content-center">
    <div class="col-md-4">
      <div routerLink="/personal-data" class="card h-100" id="personal-info-card">
        <img
          src="../../assets/images/person-circle.svg"
          class="card-img-top w-75 mx-auto p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Moji podaci</h5>
          <p class="card-text">
            Prikaži i izmeni moje podatke.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="this.authService.hasPermission('ROLE_ADMIN')" class="col-md-4">
      <div routerLink="/search-employees" class="card h-100">
        <img
          src="../../assets/images/search.svg"
          class="card-img-top w-75 mx-auto p-3"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Pretraži zaposlene</h5>
          <p class="card-text">
            Pretraži po imenu, prezimenu, odeljenju ili bolnici.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="this.authService.hasPermission('ROLE_ADMIN')" class="col-md-4">
      <div routerLink="/new-employee" class="card h-100">
        <img
          src="../../assets/images/person-plus-fill.svg"
          class="card-img-top w-75 mx-auto p-2"
          alt="New employee - person with a plus"
        />
        <div class="card-body">
          <h5 class="card-title">Dodaj novog zaposlenog</h5>
          <p class="card-text">Stranica za dodavanje novog zaposlenog.</p>
        </div>
      </div>
    </div>
  </div>
</div>
