<div class="p-5">
	<div class="row">
		<div class="col-lg-3">
			<form [formGroup]="searchVisitsForm" class="p-3 border rounded-3 bg-light">
				<div class="mb-1">
					<input formControlName="firstName" class="form-control" type="text" placeholder="Ime">
				</div>
				<div class="mb-1">
					<input formControlName="lastName" class="form-control" type="text" placeholder="Prezime">
				</div>
				<div class="mb-1">
					<input formControlName="jmbg" class="form-control" type="text" placeholder="JMBG">
				</div>
				<div class="mb-1">
					<input formControlName="lbp" class="form-control" type="text" placeholder="LBP">
				</div>
				<hr class="my-4">
				<button (click)="search()" class="btn btn-md btn-primary w-100" type="submit">Pretraži</button>
			</form>
		</div>
		<div class="col-lg-9 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Ime</th>
						<th scope="col">Prezime</th>
						<th scope="col">Datum rođenja</th>
						<th scope="col">JMBG</th>
						<th scope="col">Broj telefona</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let visit of visits">
						<td>{{visit.firstName}}</td>
						<td>{{visit.lastName}}</td>
						<td>{{visit.birthDate | date: 'dd.MM.yyyy'}}</td>
						<td>{{visit.jmbg}}</td>
						<td>{{visit.phoneNumber}}</td>
                        <td><button *ngIf="this.authService.hasEitherPermission(['ROLE_RECEPCIONER'])"
							[routerLink]="['/register-visit', visit.lbp]" class="btn btn-sm btn-primary" data-testid="edit">Registruj posetu</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-center p-2">
				<ngb-pagination
					[collectionSize]="collectionSize"
					[(page)]="page"
					[pageSize]="pageSize"
					(pageChange)="refreshVisits()">
				</ngb-pagination>
			</div>
		</div>
	</div>
</div>
